.filter-bar
  position: relative
  z-index: 10
  .navbar
    margin-bottom: 0

.property_name
  font-weight: bold
.listing
  z-index: 20
  padding: 0
  margin: 0
  background: #fff
  overflow: scroll
  ul.property-list
    padding-left: 0
  .property_img
    position: absolute
    top: 0
    width: 100px
  .property_details
    margin-left: 100px
    padding-left: 1em
  .property-item
    z-index: 10
    &:hover
      z-index: 15
      height: 200px
      -webkit-transform: scale(1.05, 1)
      background: rgba(0, 0, 0, .1)
    min-height: 100px
    position: relative
    border: 1px solid #eee
    display: block
  .property_name
    font-size: 1.2em
  font-size: 1.2em
  .property_price
    display: inline
  .property_beds
    display: inline
    padding-right: .5em
  .property_location
    font-size: 1em
    a
      color: #ccc
.map
  right: 0
  padding-left: 0
  padding-right: 0
google-map
  display: block

.listing, .map
  margin-top: 104px
  position: absolute
  height: auto
  bottom: 0
  top: 0

.property
  background: #fff
  position: relative
  z-index: 10
  .property_name
    margin-top: 0
    display: inline-block
    &+div
      display: inline-block
  .page-header
    margin-top: 0
  .property_header
    margin-top: 0
    position: relative
    height: 73px
    width: 100%
  .property_details
    overflow: scroll
  .slides
    position: relative
    height: auto
    bottom: 0
    width: 70%
  .carousel
    background: black
    ol.thumbs
      margin: 5px 0 0 0
    li.thumb
      float: left
      margin-left: 5px
  p
    height: 400px

  .contact
    position: absolute
    padding: 0 1em
    right: 0
    top: 0
    width: 30%
    height: auto
    margin-top: 73px
    bottom: 0
    background: rgba(0, 0, 0, .1)

