.top-bar
  position: relative
  z-index: 100
  .navbar
    margin-bottom: 0
ul
  list-style-type: none
.wrapper
  padding-left: 0
  position: absolute
  margin-top: 104px
  margin-bottom: 0
  top: 0
  bottom: 0
  overflow: auto

