!!! 5
html
  head
    title=title

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset='utf-8')
    !=css("vendor/bootstrap/bootstrap.min")
    !=css("application")

  body
    div.container
    block content
    script(src='/public/scripts/vendor/require/require.js', data-main="/js/home.js")
