!!! 5
html
  head
    title=title

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset='utf-8')
    link(rel='stylesheet', href="/public/css/vendor/bootstrap/bootstrap.min.css")
    !=css("application")
    block header

  body
    div.container-fluid(data-ng-cloak='')
      .row-fluid.top-bar
        nav.navbar.navbar-default(role='navigation')
          div.navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Immo.ly
          div.collapse.navbar-collapse#navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/') My List
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href='/', data-toggle='dropdown')
                  My Account
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/#') Settings
                  li.divider
                  li
                    a(href='/#') Disconect

      block content
    script(src='/public/js/vendor/require/require.js', data-main="/js/home.js")
    block footer
